<footer>
    <div class="container">
        <nav class="footer-menu row">
            <div class="col-md-5">
                <div class="brand-logo clearfix">
                    <div class="brand-logo__icon"></div>
                    <div class="brand-logo__name">Dnarb</div>
                </div>
                <p class="brand-logo__message">
                    Objectively transition extensive data rather than cross functional solutions. Monotonectally
                    syndicate multidisciplinary materials before go forward benefits. Intrinsicly syndicate an expanded
                    array of processes and cross-unit partnerships.
                </p>
                <p class="brand-logo__message">
                    Efficiently plagiarize 24/365 action items and focused infomediaries.
                    Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.
                </p>
            </div>
            <div class="col-md-7">
                <nav class="row">
                    <div class="col-md-4">
                        <div class="footer-menu__cat-name highlight">COMPANY</div>
                        <div class="footer-menu__item">Home</div>
                        <div class="footer-menu__item">Shop</div>
                        <div class="footer-menu__item">About</div>
                        <div class="footer-menu__item">How It Works</div>
                        <div class="footer-menu__item">Contact</div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-menu__cat-name highlight">INFORMATION</div>
                        <div class="footer-menu__item">Tearms & Condition</div>
                        <div class="footer-menu__item">Privacy Policy</div>
                        <div class="footer-menu__item">How to Buy</div>
                        <div class="footer-menu__item">How to Sell</div>
                        <div class="footer-menu__item">Promotion</div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-menu__cat-name highlight">SHOP CATEGORY</div>
                        <div class="footer-menu__item">Men</div>
                        <div class="footer-menu__item">Women</div>
                        <div class="footer-menu__item">Child</div>
                        <div class="footer-menu__item">Apparel</div>
                        <div class="footer-menu__item">Brows All</div>
                    </div>
                </nav>
            </div>
        </nav>
    </div>
    <div class="container-fluide brand-copyright_background">
        <div class="container brand-copyright">
            <span class="brand-copyright__text">© 2017  Brand  All Rights Reserved.</span>
            <span class="social">
                <i class="social__item fa fa-facebook" aria-hidden="true"></i>
                <i class="social__item fa fa-twitter" aria-hidden="true"></i>
                <i class="social__item social__item_inactive fa fa-linkedin" aria-hidden="true"></i>
                <i class="social__item fa fa-pinterest-p" aria-hidden="true"></i>
                <i class="social__item fa fa-google-plus" aria-hidden="true"></i>
            </span>
        </div>
    </div>
</footer>
</body>
<script src="templates/vendor/jquery/jquery.min.js"></script>
<script src="templates/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="templates/js/menu.js"></script>
</html>