<div class="container-fluid">
    <div class="row slider">
        <section class="col-xs-12">
            <header class="slider-container__text ">
                <p class="slider-container__brand"> The Brand </p>
                <p class="slider-container__slogan"> of Luxurious <a class="highlight">Fashion </a></p>
            </header>
            <img class="slider__img" src="templates/img/img-slider.png" alt="O-o-o-ops....">
        </section>
    </div>
</div>
<div class="container">
    <section class="row hot-dial">
        <div class="col-md-6">
            <div class="hot-dial__item">
                <header class="hot-dial__header">
                    <p class="hot-dial__text">Hot Dial</p>
                    <p class="hot-dial__text hot-dial__text_category highlight">For MEN</p>
                </header>
                <img class="hot-dial__img" src="templates/img/hot-dial-item1.png" alt="">
            </div>
            <div class="hot-dial__item">
                <header class="hot-dial__header">
                    <p class="hot-dial__text">Luxurious & Trendy</p>
                    <p class="hot-dial__text hot-dial__text_category highlight">Accessories</p>
                </header>
                <img class="hot-dial__img hot-dial__img_low" src="templates/img/hot-dial-item3.png" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="hot-dial__item">
                <header class="hot-dial__header">
                    <p class="hot-dial__text">30% Offer</p>
                    <p class="hot-dial__text hot-dial__text_category highlight">Women</p>
                </header>
                <img class="hot-dial__img hot-dial__img_low" src="templates/img/hot-dial-item2.png" alt="">
            </div>
            <div class="hot-dial__item">
                <header class="hot-dial__header">
                    <p class="hot-dial__text">New Arrivals</p>
                    <p class="hot-dial__text hot-dial__text_category highlight">For Kids</p>
                </header>
                <img class="hot-dial__img" src="templates/img/hot-dial-item4.png" alt="">
            </div>
        </div>
    </section>
    <div class="row">
        <span class="col-md-12 featured__header">Featured Items</span>
    </div>
    <div class="row">
        <span class="col-md-12 featured__header featured__header_description">Shop for items based on wat we featured on this week</span>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="featured__item">
                <img src="templates/img/featured-item1.png" alt="" class="featured__img">
                <div class="featured__description">Mango People T-Shirt</div>
                <div class="featured__description featured__description_cost highlight">$52.00</div>
            </div>
            <div class="featured__item">
                <img src="templates/img/featured-item5.png" alt="" class="featured__img">
                <div class="featured__description">Mango People T-Shirt</div>
                <div class="featured__description featured__description_cost highlight">$52.00</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="featured__item">
                <img src="templates/img/featured-item2.png" alt="" class="featured__img">
                <div class="featured__description">Mango People T-Shirt</div>
                <div class="featured__description featured__description_cost highlight">$52.00</div>
            </div>
            <div class="featured__item">
                <img src="templates/img/featured-item6.png" alt="" class="featured__img">
                <div class="featured__description">Mango People T-Shirt</div>
                <div class="featured__description featured__description_cost highlight">$52.00</div>
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <img src="templates/img/featured-item3.png" alt="" class="featured__img">
                <div class="featured__description">Mango People T-Shirt</div>
                <div class="featured__description featured__description_cost highlight">$52.00</div>
            </div>
            <div class="featured__item">
                <img src="templates/img/featured-item7.png" alt="" class="featured__img">
                <div class="featured__description">Mango People T-Shirt</div>
                <div class="featured__description featured__description_cost highlight">$52.00</div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="featured__item">
                <img src="templates/img/featured-item4.png" alt="" class="featured__img">
                <div class="featured__description">Mango People T-Shirt</div>
                <div class="featured__description featured__description_cost highlight">$52.00</div>
            </div>
            <div class="featured__item">
                <img src="templates/img/featured-item8.png" alt="" class="featured__img">
                <div class="featured__description">Mango People T-Shirt</div>
                <div class="featured__description featured__description_cost highlight">$52.00</div>
            </div>
        </div>
    </div>

    <nav class="row featured__all-products-btn">
        <div class="col-md-12"> Browse All Products <i class="fa fa-long-arrow-right"></i></div>
    </nav>

    <section class="row banner">
        <div class="col-md-8">
            <img class="banner__img" src="templates/img/banner.png" alt="A Young Girl... ">
        </div>
        <div class="col-md-4 banner__info">
            <div class="banner__info-item">
                <div class="col-md-3">
                    <img class="banner__info-item-icon" src="templates/img/icon-delivery.png" alt="">
                </div>
                <div class="col-md-9">
                    <div class="banner__info-item-header">
                        Free Delivery
                    </div>
                    <div class="banner__info-item-text">
                        Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive
                        models.
                    </div>
                </div>
            </div>
            <div class="banner__info-item">
                <div class="col-md-3">
                    <img class="banner__info-item-icon" src="templates/img/icon-sales.png" alt="">
                </div>
                <div class="col-md-9">
                    <div class="banner__info-item-header">Sales & discounts</div>
                    <div class="banner__info-item-text">
                        Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive
                        models.
                    </div>
                </div>
            </div>
            <div class="banner__info-item">
                <div class="col-md-3">
                    <img class="banner__info-item-icon" src="templates/img/icon-quality.png" alt="">
                </div>
                <div class="col-md-9">
                    <div class="banner__info-item-header">Quality assurance</div>
                    <div class="banner__info-item-text">
                        Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive
                        models.
                    </div>
                </div>
            </div>
        </div>
    </section>
</div> <!-- ./container -->
<div class="container-fluide">
    <section class="row subscribe-bottom">
        <div class="col-md-6 subscribe-bottom__info">
            <div class="row">
                <div class="col-md-5">
                    <img class="subscribe-bottom__info-person-photo" src="templates/img/subscribe-bottom-person.png"
                         alt="It's me!">
                </div>
                <div class="col-md-7 subscribe-bottom__info-text">
                    <div class="subscribe-bottom__info-paragraph">
                        “Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum a. Aliquam
                        condimentum mattis neque sed pretium”
                    </div>
                    <div class="subscribe-bottom__info-name highlight">
                        Bin Burhan
                    </div>
                    <div class="subscribe-bottom__info-name subscribe-bottom__info-name_location">
                        Dhaka, Bd
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <form class="subscribe-bottom__form" action="#" method="post">
                <fieldset>
                    <legend>
                        <div class="subscribe-bottom__header">SUBSCRIBE</div>
                        <div class="subscribe-bottom__description">FOR OUR NEW LETTER AND PROMOTION</div>
                    </legend>
                    <input type="email" name="email" placeholder="Enter Your Email">
                    <input type="submit" value="Subscribe">
                </fieldset>
            </form>
        </div>
    </section>
</div>