<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ imgName }} of Gallery(gu-php-hw3)</title>
    <style>
        div {
            float: left;
            padding: 100px;
            text-align: center;
        }
        img {
            display: block;
            width: 300px;
            height: 300px;
        }
        p {
            text-align: center;
        }
        a[href] {
            color: #c6c6c6;
            text-decoration: none;
        }
        a[href]:visited {
            color: #c6c6c6;
        }
        a[href]:hover {
            color: black;
            font-weight: 600;
        }

    </style>
</head>
<body>
<h2> Gallery single image, simple template </h2>
    <div>
        <a href="gallery.php">
            <img src="{{ imgURL }}" alt="O-o-o-ops... ((">
            <p>{{ imgName }}</p>
        </a>
    </div>

</body>
</html>